/*
name: Default
vars:
    background:
        type: css-background
        label: Фон
    padding:
        type: measures
        prop: padding
        label: Padding
    margin:
        type: measures
        prop: margin
        label: Margin
    width:
        type: livesearch
        label: Ширина
        allow_empty: false
        values:
            none: Ширина контейнера
            full: На весь экран
            auto: Авто
            layout: Ширина лейаута
            custom:
                custom: true
                value: 100
                units: %
                type: number
    align:
        type: css-align
    border:
        type: measures
        prop: borders
        label: Рамка
container:
    lightness: background
    width: width
    align: align
*/
.wrapper_style_default(
    @background:none;
    @padding:0rem;
    @margin:0rem;
    @width: container;
    @align: none;
    @border: none;
) {
    padding:@padding;
    margin:@margin;
    .background(@background);
    
    /*
    & when not(@border_radius = none) {
        border-radius: @border_radius;
    }
    */
    .border(@border);
    
    #__content {
        .align-items(@align);
    }
    
    .align-self(@align);
    
    .width(@width);
}