.@{namespace}wrapper {
    display:flex;
    flex-direction: column;
    
    
    &__content, &__before, &__after {
        display:flex;
        align-self:stretch;
        width:100%;
        flex-direction:column;
    }
}