/*
name: Default
vars:
    background:
        type: css-background
        label: Фон
    padding:
        type: measures
        prop: padding
        label: Padding
    margin:
        type: measures
        prop: margin
        label: Margin
    width:
        type: livesearch
        label: Ширина
        allow_empty: false
        values:
            none: Ширина контейнера
            full: На весь экран
            auto: Авто
            layout: Ширина лейаута
            custom:
                custom: true
                value: 100
                units: %
                type: number
    align:
        type: css-align
    border_radius:
        type: measures
        prop: corners
        label: Углы
        min: 0
        max: 100
container:
    lightness: background
    width: width
    align: align
*/
.wrapper_style_default(
    @background:none;
    @padding:0rem;
    @margin:0rem;
    @width: container;
    @align: none;
    @border_radius: 0;
) {
    padding:@padding;
    margin:@margin;
    display:flex;
    flex-direction: column;
    .background(@background);
    border-radius: @border_radius;
    
    .align-self(@align);
    
    .width(@width);
}